Repository kamp-us/monorepo, pull requests merged in 2023-04, with the labels that each got.

#357 feat: Upvotes redirect to login page
  apps/pano/app/features/comment/Comment.tsx
  apps/pano/app/features/post/PostItem.tsx
  apps/pano/app/routes/commentUpvote.tsx
  apps/pano/app/routes/upvote.tsx
Labels: apps/pano

#345 feat(@kampus/pano-button & @kampus/pano): Create an embeddable share component
  apps/pano/app/routes/send.tsx
  package-lock.json
  packages/pano-button/.eslintrc.js
  packages/pano-button/README.md
  packages/pano-button/package.json
  packages/pano-button/src/ShareButton.tsx
  packages/pano-button/src/index.tsx
  packages/pano-button/tsconfig.json
Labels: apps/pano, work in progress

#365 feat(apps/pano): Notification service
  apps/pano/app/features/comment/Comment.tsx
  apps/pano/app/features/notification-dropdown/NotificationDropdown.tsx
  apps/pano/app/features/topnav/Topnav.tsx
  apps/pano/app/models/notification.server.ts
  apps/pano/app/routes/commentUpvote.tsx
  apps/pano/app/routes/notifications/my-notifications.tsx
  apps/pano/app/routes/notifications/my-notifications/$id.tsx
  apps/pano/app/routes/posts/$slug.$id.tsx
  apps/pano/app/routes/upvote.tsx
  apps/pano/prisma/migrations/20230406151334_add_notifications/migration.sql
  apps/pano/prisma/migrations/20230406152607_add_read_status/migration.sql
  apps/pano/prisma/migrations/20230406155043_update_notification_types/migration.sql
  apps/pano/prisma/migrations/20230407202239_add_notification_url/migration.sql
  apps/pano/prisma/schema.prisma
  apps/pano/prisma/seed.ts
  package-lock.json
Labels: apps/pano

#369 fix(apps/pano): light theme preference not retained after page refresh
  apps/pano/app/root.tsx
Labels: apps/pano

#371 fix(apps/pano): npm start does not run properly on windows computers
  apps/pano/package.json
Labels: apps/pano

#375 Added breakpoint to stiches and made login page buttons responsive
  apps/pano/app/features/oauth/OAuthLoginForm.tsx
  apps/pano/app/routes/__auth/login.tsx
  packages/kampus-ui/src/stitches.config.ts
Labels: apps/pano, packages/kampus-ui

#377 Kampus home
  apps/home/.dockerignore
  apps/home/.env.example
  apps/home/.eslintrc.js
  apps/home/.prettierignore
  apps/home/Dockerfile
  apps/home/README.md
  apps/home/app/entry.client.tsx
  apps/home/app/entry.server.tsx
  apps/home/app/features/analytics/gtag.client.ts
  apps/home/app/features/env.server.ts
  apps/home/app/features/link/Link.tsx
  apps/home/app/features/loading-indicator/loading-indicator.css
  apps/home/app/features/loading-indicator/useLoadingIndicator.ts
  apps/home/app/features/logo/Logo.tsx
  apps/home/app/features/topnav/SearchInput.tsx
  apps/home/app/features/topnav/Topnav.tsx
  apps/home/app/features/twitch.server.ts
  apps/home/app/react-app-env.d.ts
  apps/home/app/remix.env.d.ts
  apps/home/app/root.tsx
  apps/home/app/routes/index.tsx
  apps/home/app/setupTests.ts
  apps/home/app/streamers.ts
  apps/home/docker-compose.yaml
  apps/home/package.json
  apps/home/remix.config.js
  apps/home/remix.env.d.ts
  apps/home/tsconfig.json
  package-lock.json
  turbo.json
Labels: new feature, ready for review, apps/home

#389 Chores chores chores
  README.md
  apps/home/app/entry.server.tsx
  apps/home/app/features/analytics/gtag.client.ts
  apps/home/app/features/env.server.ts
  apps/home/app/features/link/Link.tsx
  apps/home/app/features/logo/Logo.tsx
  apps/home/app/features/topnav/SearchInput.tsx
  apps/home/app/features/topnav/Topnav.tsx
  apps/home/app/features/twitch.server.ts
  apps/home/app/root.tsx
  apps/home/app/routes/index.tsx
  apps/home/app/setupTests.ts
  apps/home/app/streamers.ts
  apps/home/package.json
  apps/pano/app/routes/posts/__filters/active.tsx
  apps/pano/app/routes/posts/__filters/hot.tsx
  apps/pano/app/routes/posts/__filters/liked.tsx
  apps/pano/app/routes/posts/__filters/my-posts.tsx
  apps/pano/app/setupTests.ts
  apps/pano/package.json
  package-lock.json
  packages/kampus-eslint-config/index.js
  packages/kampus-eslint-config/remix.js
  packages/kampus-jest-presets/jest/node/jest-preset.js
  packages/kampus-jest-presets/package.json
  packages/kampus-ui/package.json
  packages/pano-button/package.json
  turbo.json
Labels: work in progress
