Repository kamp-us/monorepo, pull requests merged in 2023-07, with the labels that each got.

#498 feat(@kampus/sozluk-content): add tags as empty *.mdx files
  packages/sozluk-content/terms/client-server-communication.mdx
  packages/sozluk-content/terms/cloud.mdx
  packages/sozluk-content/terms/content-caching.mdx
  packages/sozluk-content/terms/creational-pattern.mdx
  packages/sozluk-content/terms/database-operations.mdx
  packages/sozluk-content/terms/database.mdx
  packages/sozluk-content/terms/decision-support-system.mdx
  packages/sozluk-content/terms/devops.mdx
  packages/sozluk-content/terms/discord-bot.mdx
  packages/sozluk-content/terms/function-as-a-service.mdx
  packages/sozluk-content/terms/geographic-distribution.mdx
  packages/sozluk-content/terms/http-access-control.mdx
  packages/sozluk-content/terms/http-methods.mdx
  packages/sozluk-content/terms/lean-startup.mdx
  packages/sozluk-content/terms/load-sharing.mdx
  packages/sozluk-content/terms/machine-learning.mdx
  packages/sozluk-content/terms/metric.mdx
  packages/sozluk-content/terms/product-development.mdx
  packages/sozluk-content/terms/product-management.mdx
  packages/sozluk-content/terms/prototyping.mdx
  packages/sozluk-content/terms/rate-control.mdx
  packages/sozluk-content/terms/reliability.mdx
  packages/sozluk-content/terms/resource-allocation.mdx
  packages/sozluk-content/terms/scalable-microservices.mdx
  packages/sozluk-content/terms/scaling.mdx
  packages/sozluk-content/terms/sdlc.mdx
  packages/sozluk-content/terms/sentiment-analysis.mdx
  packages/sozluk-content/terms/serverless-computing.mdx
  packages/sozluk-content/terms/software-design-pattern.mdx
  packages/sozluk-content/terms/startup.mdx
  packages/sozluk-content/terms/testing.mdx
  packages/sozluk-content/terms/traffic-management.mdx
  packages/sozluk-content/terms/traffic-routing.mdx
  packages/sozluk-content/terms/twitch-bot.mdx
  packages/sozluk-content/terms/uncertainty-modeling.mdx
  packages/sozluk-content/terms/web-development.mdx
Labels: packages/sozluk-content

#499 feat(packages/sozluk-content): add new sozluk term: Accessibility
  packages/sozluk-content/terms/accessibility.mdx
Labels: packages/sozluk-content

#496 feat(packages/sozluk-content): add new sozluk terms: big-data, iot, ux, dba
  packages/sozluk-content/terms/big-data.mdx
  packages/sozluk-content/terms/dba.mdx
  packages/sozluk-content/terms/iot.mdx
  packages/sozluk-content/terms/ux.mdx
Labels: packages/sozluk-content

#521 feat(@kampus/sozluk-content): add centralized-auth term
  packages/sozluk-content/terms/centralized-auth.mdx
Labels: packages/sozluk-content

#497 New sozluk term: JWT
  packages/sozluk-content/terms/jwt.mdx
Labels: packages/sozluk-content

#533 Create `@kampus/gql-utils` package
  package-lock.json
  packages/gql-utils/.gitignore
  packages/gql-utils/README.md
  packages/gql-utils/index.ts
  packages/gql-utils/package.json
  packages/gql-utils/prisma/__mocks__/prisma.ts
  packages/gql-utils/prisma/connection-key.test.ts
  packages/gql-utils/prisma/connection-key.ts
  packages/gql-utils/prisma/create-connection-loader.test.ts
  packages/gql-utils/prisma/create-connection-loader.ts
  packages/gql-utils/prisma/create-loader.test.ts
  packages/gql-utils/prisma/create-loader.ts
  packages/gql-utils/prisma/index.ts
  packages/gql-utils/prisma/types.ts
  packages/gql-utils/tsconfig.json
  packages/gql-utils/vitest.config.ts
Labels: ready for review

#540 feat(@kampus/sozluk-content): wiki-link support
  package-lock.json
  packages/sozluk-content/contentlayer.config.ts
  packages/sozluk-content/package.json
  packages/sozluk-content/types.d.ts
Labels: packages/sozluk-content

#581 feat(apps/gql): create comment resolvers
  apps/gql/loaders/pano.ts
  apps/gql/schema/resolvers/index.ts
  apps/gql/schema/schema.graphql
  apps/gql/schema/types.generated.ts
Labels: apps/gql
